@import '../../../_variables';
:host {
  /deep/ .d3-chart {
    background: #F0F0F0;
    border: 1px solid #CCC;
    padding: 10px;
    .bar {
      box-sizing: border-box;
      width: 0;
      background: adjust-hue( $highlight, 180%);
      margin: 0 0 1px;
      white-space: nowrap;
      padding: 10px;
    }
  }
}
