<h1>About Tweetsicle</h1>
<h2>Technologies Used</h2>
<ul>
  <li>SignalR</li>
  <li>Angular4</li>
  <li>RxJS</li>
  <li>ngrx/store</li>
</ul>

<p>Tweetsicle provides real a real time Twitter feed from Twitter's streaming API and serves this to an Angular client via SignalR.
  The user can provide a series of search terms, separated by spaces, and the API will return every tweet with hash tags
  that match the query.</p>
<p>For instance, try searching for "trump usa". You will now see a live stream of tweets that contain "#trump" OR "#usa", as
  well as a chart showing all OTHER hashtags used in those tweets.</p>

<p><img src="/assets/img/screenshot.png" alt="Example of the Insights page" style="max-width:100%;" /></p>

<p>Searching for a new term will clear the store and start streaming tweets that match the new query instead.</p>

<h2>Pages</h2>
<h3>Feed</h3>
<p>The Feed page displays each new tweet in real time. Clicking on a tweet will take you to the raw JSON data that was received
  from the API for that tweet.</p>
<h3>Insights</h3>
<p>The Insights page displays a chart of the top 10 hashtags in the matching tweets, filtering out the hashtags you searched
  for. It also displays the raw hashtag counts beneath the chart so you can verify the data.</p>
<h3>Log</h3>
<p>The log page displays the raw results that comes back from the API.</p>

<h3>Broken Link</h3>
<p>This is simply here to demonstrate the router working as its supposed to.</p>

<h2>Known Issues</h2>
<p>The API is fairly crude and untested. The TweetInvi library occasionally fails to generate the HTML for a tweet, and I am
  yet to find out why. When this happens I return a placeholder with the tweet text, which serves the same purpose but doesn't
  have links or images..</p>
<p> It can also get into a state where it returns a 503 response to the client. I usually fix this by restarting the app in Azure.
</p>
<p>Although the app is designed to allow the user to change search terms, I have observed rare issues where the previous search
  term remains subscribed. Usually a page refresh will resolve this.</p>
<p>The client is not nearly as thoroughly tested as I would like, nor as thoroughly styled.</p>
